table{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
    font-size: 20px;
}

form{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 17px;
}

input[type="submit"] {
    background-color: #a5186f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100px;
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    font-size: 25px;
    margin-bottom: 5px;
}

p{
    font-size: 19px;
    text-align: center;
    color:red;

}
